<div *ngFor="let item of menuItems" class="menu-item">
  <div class="menu-header d-flex justify-content-around items-center">
    <i class="menu-icon text-lg leading-relaxed px-3 bx {{ item.icon }}" *ngIf="!isCollapsed || showOnlyMainIcon"></i>
    <p class="menu-label text-lg leading-relaxed w-full max-w-2xl {{ isCollapsed ? 'hidden' : '' }}"> {{ item.label }}</p>
  </div>
  <ul class="sub-menu boton-lista p-1 transition duration-3000 ease-in-out {{ isCollapsed ? 'w-16' : 'w-64' }}">
    <li *ngFor="let subItem of item.subItems" class="sub-menu-item d-flex justify-content-center p-2" >
      <a [routerLink]="subItem.link" class="sub-menu-link">
        <i class="sub-menu-icon text-lg leading-relaxed p-1 bx {{ subItem.icon }}" *ngIf="subItem.icon"></i>
        <span class="sub-menu-label text-lg leading-relaxed p-1" *ngIf="!isCollapsed">{{ subItem.label }}</span>
      </a>
    </li>
  </ul>
</div>

<div class="theme-switch">
  <label>
    <input type="checkbox" (change)="toggleTheme($event)">
    Dark Mode
  </label>
</div>
