@tailwind base;
@tailwind components;
@tailwind utilities;

// Importar variables y mixins de Sass
@import 'styles/variables';
@import 'styles/mixins';
@import 'styles/base';
@import 'styles/typography';
@import 'styles/components/sidebar';
@import 'styles/components/topbar';
@import 'styles/neomorphism';
// Importar fuentes
@import url('https://fonts.googleapis.com/css2?family=Arial:wght@400;700&family=Georgia:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Condensed:wght@400;700&family=Playfair+Display:wght@400;700&family=Georgia:wght@400;700&family=Bebas+Neue&family=Merriweather:wght@400;700&display=swap');

// Puedes agregar estilos globales adicionales aquí
body {
  font-family: 'Merriweather', serif;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

p {
  font-family: 'Merriweather', serif;
}

a {
  color: theme('colors.primary') !important;
  text-decoration: none !important;
}
