// sidebar.scss

@import '../variables';
@import '../mixins';

// styles/sidebar.scss

@import '../neomorphism';

.menu-item {
  margin-bottom: 10px;
}

.menu-header {
  @include neomorph-normal;
  padding: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    @include neomorph-gradient;
  }

  &:active {
    @include neomorph-gradient-active;
  }
}

.menu-icon {
  color: #333;
}

.menu-label {
  color: #333;
}

.sub-menu {
  list-style: none;
  padding-left: 0;
}

.sub-menu-item {
  margin-bottom: 5px;

  &:hover {
    @include neomorph-gradient;
  }

  &:active {
    @include neomorph-gradient-active;
  }
}

.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.sub-menu-icon {
  color: #666;
}

.sub-menu-label {
  color: #666;
}

.dark-theme .menu-header,
.dark-theme .sub-menu-item {
  @include neomorph-dark;

  &:hover {
    @include neomorph-gradient;
  }

  &:active {
    @include neomorph-gradient-active;
  }
}

.dark-theme .menu-icon,
.dark-theme .menu-label,
.dark-theme .sub-menu-icon,
.dark-theme .sub-menu-label {
  color: #fff;
}
