// styles/variables.scss

// Colores
$primary-color: #d33c3c;
$secondary-color: #000000;
$dark-bg-color: #000000;
$light-bg-color: #ffffff;
$dark-text-color: #ffffff;
$light-text-color: #000000;

// Fuentes
$font-family-primary: 'Arial, sans-serif';
$font-family-secondary: 'Georgia, serif';
$font-size-base: 16px;

// Neomorfismo
$neomorph-shadow-light: rgba(255, 255, 255, 0.7);
$neomorph-shadow-dark: rgba(0, 0, 0, 0.2);
$neomorph-radius: 10px;
$neomorph-shadow-size: 10px;
$neomorph-bg-color: #e0e0e0;
